<div class="page-wrapper">

  <header class="navbar">
    <a class="logo" routerLink="/">🏠 RentEase</a>
    <nav>
      <a routerLink="/properties">Все объекты</a>
      @if (isLoggedIn()) {
        <a routerLink="/my-bookings">Мои брони</a>
      }
      @if (!isLoggedIn()) {
        <a routerLink="/login" class="btn-nav">Войти</a>
      }
      @if (isLoggedIn()) {
        <button class="btn-nav" (click)="logout()">Выйти</button>
      }
    </nav>
  </header>

  <section class="hero">
    <h1>Найди жильё своей мечты</h1>
    <p>Аренда квартир и домов по всему миру</p>
    <a routerLink="/properties" class="btn-hero">Смотреть объекты</a>
  </section>

  <main class="main">
    <h2 class="section-title">Последние объявления</h2>

    @if (isLoading()) {
      <div class="state">
        <div class="spinner"></div>
        <p>Загружаем...</p>
      </div>
    }

    @if (!isLoading() && errorMsg()) {
      <div class="state error">
        <p>{{ errorMsg() }}</p>
      </div>
    }

    @if (!isLoading() && !errorMsg()) {
      <div class="grid">
        @for (property of properties(); track property.id) {
          <a class="card" [routerLink]="['/properties', property.id]">
            <img [src]="getImage(property)" [alt]="property.title" class="card-img" />
            <div class="card-body">
              <div class="card-city"><i class="ci-Map_Pin"></i> {{ property.city }}</div>
              <h3>{{ property.title }}</h3>
              <div class="card-footer">
                <span class="price">
                  ${{ property.price_per_night }}
                  <span>/ ночь</span>
                </span>
                <span class="cta">Подробнее <i class="ci-Arrow_Right_MD"></i></span>
              </div>
            </div>
          </a>
        }
      </div>

      <div class="center">
        <a routerLink="/properties" class="btn-more">Смотреть все объявления</a>
      </div>
    }

  </main>

  <footer class="footer">
    <p>© 2026 RentEase</p>
  </footer>

</div>
